* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.main > * {
  width: 400px;
  margin: 0 20px;
  background-color: aqua;
}

.sources__list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: scroll;
  width: 100%;
  
}

.sources__item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px black solid;
  padding: 5px;
  min-height: 40px;
  width: 100%;
  background-color: aquamarine;
  cursor: pointer;
}

.item__image {
  height: 30px;
  width: 30px;
}
