* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  user-select: none;
}

#root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
